[Unit]
Description=Copy RNO-G data to DESY
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/jade/serpentine/serpentine-copy
Restart=always
RestartSec=10
WatchdogSec=3700s
User=jade
StandardOutput=journal
StandardError=journal
SyslogIdentifier=serpentine-copy

[Install]
WantedBy=multi-user.target
