[Unit]
Description=Copy RNO-G metadata to DESY
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/jade/serpentine/serpentine-copy-meta
Restart=always
RestartSec=10
WatchdogSec=600s
User=jade
StandardOutput=journal
StandardError=journal
SyslogIdentifier=serpentine-copy-meta

[Install]
WantedBy=multi-user.target
